.about {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6d7075;
  padding: 4em;
}

.profile {
  border-radius: 50%;
  border: 1px solid white;
  height: 20em;
  width: 20em;
  margin: auto;
}

.bout {
  margin-top: 10%;
  width: 50%;
  border: 1px solid gray;
  background-color: #a5a9b0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 3em;
  border: 4px groove gray;
}

.wave {
  font-size: 1em;
}

.greet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blurb {
  align-items: center;
  display: flex;
  font-size: 1.8em;
  grid-column: 1/3;
}

.icon {
  font-size: 5em;
  margin: 0.5em;
  text-decoration: none;
  color: white;
}

@keyframes waving {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave:hover {
  animation: waving 0.5s infinite;
}

@media only screen and (max-width: 768px) {
  .about {
    flex-direction: column;
  }

  .profile {
    margin-bottom: 2em;
  }

  .bout {
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 3(auto);
  }

  .blurb {
    grid-column: 1/2;
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 1200px) {
  .bout {
    width: 70%;
  }
}

@media only screen and (max-width: 885px) {
  .bout {
    width: 80%;
  }
}

@media only screen and (max-width: 576px) {
  .bout {
    width: 100%;
    height: min-content;
    padding: 1em;
  }
}