.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 40vmin;
  margin: auto;
  z-index: 2;
  margin: auto;
  width: 50%;
  /* height: 100vh; */
}

#down {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  color: rgba(214, 214, 214, 0.7);
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(214, 214, 214);
}

@media only screen and (max-width: 768px) {
  .name {
    font-family: 'Sulphur Point', sans-serif;
    color: rgba(214, 214, 214, 0.7);
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(214, 214, 214);
    font-size: 20vw;
    text-self: center;
  }
  .home-nav {
    list-style-type: none;
    padding: 0;
  }
  .mobile-nav-link {
    font-family: 'Sulphur Point', sans-serif;
    color: rgba(214, 214, 214, 0.7);
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(214, 214, 214);
    font-size: 8vw;
  }
}

@media only screen and (min-width: 769px) {
  .name {
    font-family: 'Sulphur Point', sans-serif;
    color: rgba(214, 214, 214, 0.7);
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(214, 214, 214);
    font-size: 10vw;
    text-align: center;
  }
  .home-nav {
    display: none;
  }
}

